
*.dll
*.exe
*.pdb
.vs/DPAbstractFactory/DesignTimeBuild/.dtbcache.v2
.vs/DPAbstractFactory/v16/.suo
DPAbstractFactory/bin/Debug/net5.0/DPAbstractFactory.deps.json
DPAbstractFactory/bin/Debug/net5.0/DPAbstractFactory.runtimeconfig.dev.json
DPAbstractFactory/bin/Debug/net5.0/DPAbstractFactory.runtimeconfig.json
DPAbstractFactory/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.AssemblyInfo.cs
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.AssemblyInfoInputs.cache
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.assets.cache
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.csproj.AssemblyReference.cache
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.csproj.CoreCompileInputs.cache
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.csproj.FileListAbsolute.txt
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.GeneratedMSBuildEditorConfig.editorconfig
DPAbstractFactory/obj/Debug/net5.0/DPAbstractFactory.genruntimeconfig.cache
DPAbstractFactory/obj/DPAbstractFactory.csproj.nuget.dgspec.json
DPAbstractFactory/obj/DPAbstractFactory.csproj.nuget.g.props
DPAbstractFactory/obj/DPAbstractFactory.csproj.nuget.g.targets
DPAbstractFactory/obj/project.assets.json
DPAbstractFactory/obj/project.nuget.cache
